// Colors

$primary:       #27DEBF !default;
$secondary:     #686868 !default;
$light:         #FFFFFF !default;
$dark:          #000000 !default;
$info:          #707070 !default;
$gray-500:      #adb5bd !default;                                //?makes transparent?

$body-color:    #151D41 !default;
$body-bg:       #FFFFFF !default;